body, html{
  background-color: black;
}

@keyframes bk-move-anim {
  from {background-position: 0px 0px;}
  to {background-position: 0px 650px;}
}

@keyframes police-animation {
  100% {background-position: -336px;}
}

@keyframes explosion {
  100% {background-position: -14352px}
}

.road{
  width: 840px;
  height: 650px;
  left: 250px;
  position: absolute;
  background-image: url('../img/background/1.png');
}

.roadAnim{
  animation: bk-move-anim 7s linear forwards infinite;
}

.roadLimit{
  width: 68%;
  height: 100%;
  left: 16%;
  position: absolute;
}

.player{
  width: 110px;
  height: 110px;
  left: 400px;
  top: 500px;
  position: absolute;
  background-image: url('../img/cars/resized/black_viper.png');
}

.enemie{
  width: 110px;
  height: 110px;
  top: -500px;
  position: absolute;
  animation: police-animation 2s steps(3) infinite;
  background-image: url('../img/cars/resized/police_animation/police_sheet.png');
}

.explosion{
  width: 256px;
  height: 256px;
  transform: translate(-80px, -10px);
  background-image: url('../img/explosion/explosion.png');
  animation: explosion 2s steps(52);
}

.scoreBox{
  width: 240px;
  height: 100px;
  left: 2px;
  position: absolute;
  color: white;
  font-size: small;
}

.scoreNumbers{
  width: 140px;
  height: 100px;
  left: 100px;
  top: -12px;
  position: absolute;
  color: white;
  font-size: 30px;
}
